<!-- Redirection using RouterLink -->
<h4>Redirection using RouterLink</h4>
<button [routerLink]="['user', '2']" routerLinkActive="router-link-active" >User</button>

<button [routerLink]="['product']" routerLinkActive="router-link-active" >Product</button>
<br><br>
<h4>Redirection using navigate</h4>
<!-- Redirection using router.navigate -->
<button (click)="redirect('user')" >User</button>

<button (click)="redirect('product')">Product</button>
<button (click)="redirect('blog')">Blog</button>
<button (click)="redirect('loop')">Loop</button>

<button (click)="login()">Login</button>

<router-outlet></router-outlet>

<hr>


