<!-- Redirection using RouterLink -->
<h4>Redirection using RouterLink</h4>
<button [routerLink]="['user', '2']" routerLinkActive="router-link-active" >User</button>

<button [routerLink]="['product']" routerLinkActive="router-link-active" >Product</button>
<br><br>
<h4>Redirection using navigate</h4>
<!-- Redirection using router.navigate -->
<button (click)="redirect('user')" >User</button>

<button (click)="redirect('product')">Product</button>
<button (click)="redirect('blog')">Blog</button>
<button (click)="redirect('loop')">Loop</button>

<button (click)="login()">Login</button>

<router-outlet></router-outlet>

<hr>

<!-- CONTENT PROJECTTION -->
<app-header-example>
    <app-projected-child #contentChild class="child" [number]="1"></app-projected-child>
    <app-projected-child #contentChild class="child2" [number]="2"></app-projected-child>
    <app-projected-child #contentChild class="child3" [number]="3"></app-projected-child>
    <button class="button">Test</button>
    <input class="input"/>
</app-header-example>

