.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  .col-1, .col-2 {
    padding: 10px;
  }

  .col-1 {
    flex: 0 0 40%;
    .form {
      display: flex;
      flex-direction: column;
      border: 1px solid black;
      background-color: #f7f7f7;
      padding: 10px;

      &-control {
        margin: 5px 0;
      }

      &-validation-message {
        color: red;
        font-size: 12px;
        font-weight: 300;
      }

      // styles for invalid form controls
      input.ng-invalid.ng-touched {
        border: 1px solid red;
      }
    }
  }

  .col-2 {
    flex: 1;
    .form-data {
      display: flex;
      flex-direction: column;
    }
  }

}


